<%= form_for(mdm_company) do |f| %>
  <% if mdm_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mdm_company.errors.count, "error") %> prohibited this mdm_company from being saved:</h2>

      <ul>
      <% mdm_company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :corporation %>
    <%= f.text_field :corporation %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
