<p id="notice"><%= notice %></p>

<p>
  <strong>Login name:</strong>
  <%= @sys_user.login_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @sys_user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @sys_user.last_name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @sys_user.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sys_user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @sys_user.phone %>
</p>

<p>
  <strong>Locked flag:</strong>
  <%= @sys_user.locked_flag %>
</p>

<p>
  <strong>Locked time:</strong>
  <%= @sys_user.locked_time %>
</p>

<p>
  <strong>Locked until at:</strong>
  <%= @sys_user.locked_until_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sys_user.status %>
</p>

<%= link_to 'Edit', edit_user_path(@sys_user) %> |
<%= link_to 'Back', users_path %>
