<!DOCTYPE html>
<html>
<head>
  <title>Rabbit</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div style="background: greenyellow;height: 100%; padding: 100px 0 10px 0;box-sizing: border-box ;">
  <div style="height: 70px; margin-top: -100px; background: #BBE8F2;">1</div>
  <div style="height: 30px; background: #e6f259;">
    <%= navigation_tabs %>
  </div>
  <!--<div style="padding: 0 0 0 200px;height: 100%;">-->
  <!--<div style="background: lightblue;height: 100%;width: 200px;float: left;margin-left: -200px;">3</div>-->
  <!--<div style="background: lightgoldenrodyellow;height: 100%;float: left;width: 100%;">-->
  <!--<%#= yield %>-->
  <!--</div>-->
  <!--</div>-->

  <div style="height: 100%; background: #D9C666;padding: 0 0 0 200px;box-sizing: border-box;">
    <div style="background: lightblue;height: 100%;width: 200px;float: left;margin-left: -200px;">3333</div>
    <div style="background: lightgoldenrodyellow;height: 100%;float: left;width: 100%;overflow-y:auto;">
      <%= yield %>
    </div>
  </div>
  <div style="height: 10px; background: #d91acd;position: fixed;bottom: 0;width: 100%">4</div>


  <!--<div style="height: 10px; background: #d91acd;">4</div>-->
</div>
</body>
</html>
