<div class="login_div">
  <%= form_tag('login', method: 'post') do %>
      <ul>
        <% if params[:error] %>
            <li>
              <%= params[:error] %>
            </li>
        <% end %>
        <li>
          <label class="search-label">username：</label>
          <%= text_field_tag :username %>
        </li>
        <li>
          <label class="search-label">password：</label>
          <%= password_field_tag :password %>
        </li>
        <li class="zmwy-li-search">
          <%= submit_tag :submit %>
        </li>
      </ul>
  <% end %>
</div>